<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJwP8OC_7RYMi_aR7-N4WNbjPl8q1Dd7I</string>
	<key>GCM_SENDER_ID</key>
	<string>765763986570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.Gahdai.UserAuth</string>
	<key>PROJECT_ID</key>
	<string>userauth-da123</string>
	<key>STORAGE_BUCKET</key>
	<string>userauth-da123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765763986570:ios:349d47d584dcb017823973</string>
</dict>
</plist>